In [3]:
                        

import pandas as pd
import numpy as np

In [4]:
#  read csv data

df = pd.read_csv("Sales_data.csv")
# print(df)

# convert date column to Date time type
df["Date"] = pd.to_datetime(df["Date"])

# create month column

df["Month"]  = df["Date"].dt.to_period("M")

# calculate total sales per row

df["Total_sale"] = df["Quantity"]* df["Price"]

print("\nComplete sales Data")
print(df)

Complete sales Data
         Date     Product  Quantity  Price    Month  Total_sale
0  2025-01-05      Laptop         2  55000  2025-01      110000
1  2025-01-10      Mobile         5  15000  2025-01       75000
2  2025-01-15      Tablet         3  22000  2025-01       66000
3  2025-01-22  Headphones         8   2000  2025-01       16000
4  2025-02-03      Laptop         1  55000  2025-02       55000
5  2025-02-10      Mobile         6  15000  2025-02       90000
6  2025-02-18      Tablet         2  22000  2025-02       44000
7  2025-02-25  Headphones         6   2000  2025-02       12000
8  2025-03-01      Laptop         3  55000  2025-03      165000
9  2025-03-05      Mobile         4  15000  2025-03       60000
10 2025-03-12      Tablet         5  22000  2025-03      110000
11 2025-03-20  Headphones        10   2000  2025-03       20000

In [12]:

# product wise sales 

product_sales = df.groupby("Product")["Total_sale"].sum()

print("\n ------Product wise Total Sales------")
print(product_sales)


# monthly sales using pivot table


monthly_sales = df.pivot_table(
                              values = "Total_sale",
                              index = "Month",
                              aggfunc = "sum")
print("\nMonthly Sale")
print(monthly_sales)

 ------Product wise Total Sales------
Product
Headphones     48000
Laptop        330000
Mobile        225000
Tablet        220000
Name: Total_sale, dtype: int64

Monthly Sale
         Total_sale
Month
2025-01      267000
2025-02      201000
2025-03      355000

In [16]:
# Monthly growth using numpy lib

sales_values = monthly_sales["Total_sale"].values
Monthly_Growth = np.diff(sales_values)


print("\n ---Monthly Growth---")
print(Monthly_Growth)

 ---Monthly Growth---
[-66000 154000]

In [19]:
# best and worst product sales

best_product_sales = product_sales.idxmax()
worst_product_sales = product_sales.idxmin()


print(f"Best product sales : {best_product_sales}")
print(f"Worst product sales : {worst_product_sales}")

Best product sales : Laptop
Worst product sales : Headphones